header{
    background-color:#242444;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
}
.logo {
    order: 2; /* Pour placer le logo à droite */
}

nav {
    order: 1; /* Pour placer la navigation à gauche */
}

nav img {
    margin-right: 10px; /* Espacement entre les icônes */
}

.imgheader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

body{
    background-color: #082050;
}

main{
    color: white;
}

aside{
    color: white;
}
.Information{
    color: white;
    text-align: center;
    padding: 10px;
}
.bas_page{
    width: 100%;
}
th {
    width: 20%;
    color:white; 
    text-align: center;
    padding: 10px;
}
footer{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}