@font-face {
    font-family: Tp3Font;
    src: url(GlacialIndifference-Regular.otf);
}

Header{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
    
.logo {
    order: 2; /* Pour placer le logo à droite */
}
    
nav {
    order: 1; /* Pour placer la navigation à gauche */
}
    
nav img {
    margin-right: 10px; /* Espacement entre les icônes */
}



/* image */ 
.imgheader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 1440px; 
    height: 105px;
    transition: transform .1s;
}
img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#img1{
 order: 1;
 width: 240px; 
 height: 105px;
}
#img2{
 order: 2;
 width: 240px; 
 height: 105px;
}
#img3{
 order: 3;
 width: 240px; 
 height: 105px;
}
#img4{
 order: 4;
 width: 240px; 
 height: 105px;
}
#img5{
 order: 5;
 width: 240px; 
 height: 105px;
}
#img6{
 order: 6;
  width: 240px; 
 height: 105px;
}

/* body */
body{
    background-color: #082050;
    width: 1440;
    height: auto;


    font-family: Tp3Font;
}

.EsportSportbar{   /* bar de selection */
    display: flex;
    background-color: #009FD1;
    color: white;
    width: 100%;
    font-size: xx-large;
    flex-wrap: nowrap;
    padding-left: 15%;

}
#Sport{
    order: 1;
    justify-content: center;
    justify-content: middle;
    width: 720px ;
    font-size: xx-large;
}
#Esport{
    order: 2;
    width: 446;
    height: 83;
    justify-content: center;
    justify-content: middle;
    height: 119;
    width: 720px ;
    font-size: xx-large;
}

/* CALENDRIER */
.calendrier{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
}
.calendrier2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
}
.calendrier3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
}
.calendrier4{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
}
.calendrier5{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
}
.jourdesemaine{
    display: flex;
    color: white;
    text-align: center;
    font-size: xx-large;
}

/* Calendrier arrangement */
.calsec{
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border-top: 10px solid;
    border-left: 10px solid;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
} 

/* jour de semaine */
#lun{
 order: 1;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
 
}
#mar{
 order: 2;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
}
#mer{
 order: 3;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
}
#jeu{
 order: 4;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
}
#ven{
 order: 5;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
}
#sam{
 order: 6;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
}
#dim{
 order: 7;
 width: 182px;
 height: 45px;
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: rgba(0, 0, 0, 0);
}



h1{
    margin-left: 3%;
    padding: 1%;
    color: white;
}

.element{
    width: 182;
    height: 71;
    background-color: #009FD1;
}

/* ligne 1 */
#d1{
 order: 1;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;

}
#d2{
 order: 2;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d3{
 order: 3;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d4{
 order: 4;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d5{
 order: 5;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d6{
 order: 6;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d7{
 order: 7;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

/* ligne 2 */
#d8{
 order: 1;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d9{
 order: 2;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d10{
 order: 3;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d11{
 order: 4;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d12{
 order: 5;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d13{
 order: 6;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d14{
 order: 7;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

/* ligne 3 */ 
#d15{
 order: 1;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d16{
 order: 2;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d17{
 order: 3;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d18{
 order: 4;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d19{
 order: 5;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d20{
 order: 6;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d21{
 order: 7;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

/* ligne 4 */
#d22{
 order: 1;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d23{
 order: 2;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d24{
 order: 3;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d25{
 order: 4;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d26{
 order: 5;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d27{
 order: 6;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}
#d28{
 order: 7;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

/* ligne 5 */
#d29{
 order: 1;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

#d30{
 order: 2;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

#d31{
 order: 3;
 background-color: #009FD1;
 width: 182px;
 height: 71px;
 border-top: 4px solid;
 border-left: 4px solid;
 border-bottom: 4px solid;
 border-right: 4px solid;
 border-color: rgb(0, 0, 0);
 padding-left: 4px;
}

.divlignevide{
    padding: 1%;
}


.Colonne1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
}

.Colonne2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Colonne3{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
.Colonne4{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
.Colonne5{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Reseaux{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
   }
   
   .Reseau {
    margin-right: 10px; /* Ajoute une marge entre les icônes */
}
.lien{
    color:white;
  }
.Colonne1{
    color: white;
}
    
.Colonne2{
    color: white;
}
    
.Colonne3{
    color: white;
}
    
.Colonne4{
    color: white;
}
    
.Colonne5{
    color: white;
}
        
.Nom{
    background-color: #009FD1;
    width: 345px; 
    height: 399px;
}
        
.Presentation {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
        
em{
    color: white;
    font-size: large;
}

        
footer{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

        
.bas_page{
    width: 100%;
}
        
.subscription {
    max-width: 600px;
    margin: 0 auto;
}
          
        
.subscription h3 {
    margin-bottom: 10px;
}
          
          
input[type="email"] {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
          
          
button {
    padding: 8px 20px;
    background-color: #7fb380;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
          
          
button:hover {
    background-color: #45a049;
}