header{
    background-color:#242444;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
}
.logo {
    order: 2; /* Pour placer le logo à droite */
}

nav {
    order: 1; /* Pour placer la navigation à gauche */
}

nav img {
    margin-right: 10px; /* Espacement entre les icônes */
}



nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* image */ 
.imgheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#img1{
 order: 1;
}
#img2{
 order: 2;
}
#img3{
 order: 3;
}
#img4{
 order: 4;
}
#img5{
 order: 5;
}
#img6{
 order: 6;
}



/* corps de la page */
body{
    background-color: #082050;
    width: auto;
    height: auto;
}

h2{
    align-content: center;
}
.divligne{
    border-bottom: solid 3px #fff;
}

.page{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: space-between;

    font-size: 32px;
    font-weight: bold;

}

/* video */ 
#gauche{
    color: white;
    order: 1;
    margin-right: 34px;
    justify-content: left;
}
 /* texte */
#droite{
    color: white;
    order: 2;
    flex-direction: column;
    justify-content: right;
}


.Information{
    color: white;
    text-align: center;
    padding: 10px;
}
.bas_page{
    width: 100%;
}
th {
    width: 20%;
    color:white; 
    text-align: center;
    padding: 10px;
}
footer{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}