@font-face {
    font-family: Tp3Font;
    src: url(GlacialIndifference-Regular.otf);
}

Header{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    order: 2; /* Pour placer le logo à droite */
}
    
nav {
    order: 1; /* Pour placer la navigation à gauche */
}
    
nav img {
    margin-right: 10px; /* Espacement entre les icônes */
}


/* corps de la page */
body{
    background-color: #082050;
    width: auto;
    height: auto;

    font-family: Tp3Font;

}

/* image */ 
.imgheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 240; 
    height: 105;
    transition: transform .1s;
}
img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#img1{
 order: 1;
}
#img2{
 order: 2;
}
#img3{
 order: 3;
}
#img4{
 order: 4;
}
#img5{
 order: 5;
}
#img6{
 order: 6;
}

/* body */
.EsportSportbar{   /* bar de selection */
    display: flex;
    background-color: #009FD1;
    color: white;
    height: 119;
    width: 100%;
    font-size: xx-large;
    flex-wrap: nowrap;
    padding-left: 15%;

}
#Sport{
    order: 1;
    width: 446;
    height: 83;
    justify-content: center;
    justify-content: middle;
    height: 119;
    width: 720px ;
    font-size: xx-large;
}
#Esport{
    order: 2;
    width: 446;
    height: 83;
    justify-content: center;
    justify-content: middle;
    height: 119;
    width: 720px ;
    font-size: xx-large;
}

/* CALENDRIER */
.calendrier1{
    display: flex;
}
.calendrier2{
    display: flex;
}
.calendrier3{
    display: flex;
}
.calendrier4{
    display: flex;
}
.calendrier5{
    display: flex;
}
.jourdesemaine{
    display: flex;
}

/* jour de semaine */
#lun{
 order: 1;
}
#mar{
 order: 2;
}
#mer{
 order: 3;
}
#jeu{
 order: 4;
}
#ven{
 order: 5;
}
#sam{
 order: 6;
}
#dim{
 order: 7;
}

/* ligne 1 */
#d1{
 order: 1;
}
#d2{
 order: 2;
}
#d3{
 order: 3;
}
#d4{
 order: 4;
}
#d5{
 order: 5;
}
#d6{
 order: 6;
}
#d7{
 order: 7;
}

/* ligne 2 */
#d8{
 order: 1;
}
#d9{
 order: 2;
}
#d10{
 order: 3;
}
#d11{
 order: 4;
}
#d12{
 order: 5;
}
#d13{
 order: 6;
}
#d14{
 order: 7;
}

/* ligne 3 */ 
#d15{
 order: 1;
}
#d16{
 order: 2;
}
#d17{
 order: 3;
}
#d18{
 order: 4;
}
#d19{
 order: 5;
}
#d20{
 order: 6;
}
#d21{
 order: 7;
}

/* ligne 4 */
#d22{
 order: 1;
}
#d23{
 order: 2;
}
#d24{
 order: 3;
}
#d25{
 order: 4;
}
#d26{
 order: 5;
}
#d27{
 order: 6;
}
#d28{
 order: 7;
}

/* ligne 5 */
#d29{
 order: 1;
}

#d30{
 order: 2;
}

#d31{
 order: 3;
}

/* footer */ 
.Colonne1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
}

.Colonne2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Colonne3{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Colonne4{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Colonne5{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Reseaux{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
   }
   
   .Reseau {
    margin-right: 10px; /* Ajoute une marge entre les icônes */
}
.lien{
    color:white;
  }
footer{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
        
.bas_page{
    width: 100%;
}  
.Colonne1{
    color: white;
}

.Colonne2{
    color: white;
}

.Colonne3{
    color: white;
}
   
.Colonne4{
    color: white;
}

.Colonne5{
    color: white;
}
       
.Nom{
    background-color: #009FD1;
    width: 345px; 
    height: 399px;
}
       
.Presentation {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
        
em{
    color: white;
    font-size: large;
}
        
.subscription{
    max-width: 600px;
    margin: 0 auto;
}
          
.subscription h3{
    margin-bottom: 10px;
}
          
input[type="email"] {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
          
button {
    padding: 8px 20px;
    background-color: #7fb380;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
          
button:hover {
    background-color: #45a049;
}

