Header{
    background-color:#242444;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
.logo {
    order: 2; /* Pour placer le logo à droite */
    }
    
nav {
    order: 1; /* Pour placer la navigation à gauche */
    }
    
nav img {
    margin-right: 10px; /* Espacement entre les icônes */
    }

body{
    background-color: #082050;
    font-family: Tp3Font;
    }
section{
    background-color: white;
    }
h1{
    text-align: center;
    color: #242444;
    }
h2{
    text-align: center;
    color: #242444;
    }
p{
    text-align:left;
    color: #676b73;
    font-size: larger;
    }
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content:space-around;
   }
   /*Pied de page*/
footer{
    background-color:#242444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.bas_page{
    width: 100%;
}

.Colonne1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
   }
.Colonne2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
.Colonne3{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
.Colonne4{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
.Colonne5{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
.Reseaux{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
   }
   
.Reseau {
    margin-right: 10px; /* Ajoute une marge entre les icônes */
  }
.lien{
    color:white;
  }
.Colonne1{
    color: white;
   }
.Colonne2{
    color: white;
   }
.Colonne3{
    color: white;
   }
.Colonne4{
    color: white;
   }
.Colonne5{
    color: white;
   }
.Nom{
    background-color: #009FD1;
    width: 345px; 
    height: 399px;
    }
.Presentation {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    }
em{
    color: white;
    font-size: large;
    }
    
.subscription {
    max-width: 600px;
    margin: 0 auto;
    }
      
.subscription h3 {
    margin-bottom: 10px;
      }
      
 input[type="email"] {
        width: 70%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 10px;
      }
      
button {
        padding: 8px 20px;
        background-color: #7fb380;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
button:hover {
        background-color: #45a049;
      }
      @font-face {
        font-family: Tp3Font;
        src: url(GlacialIndifference-Regular.otf);
    }